<div>
    <el-row :gutter="10" type="flex">
        <el-col :span="8">
            <sly-card title="Input">
                <sly-field title="" description="Project">
                    <a slot="title" target="_blank"
                       :href="`/projects/${data.projectId}/datasets`">{{data.projectName}}</a>
                    <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
                </sly-field>
            </sly-card>
        </el-col>
        <el-col :span="16" style="flex: 1">
            <sly-card title="Output" style="height: 100%">
                <sly-field v-if="data.progress === 100" title=""
                           description="New project has been successfully created">
                    <a slot="title" target="_blank" :href="`/projects/${data.resultProjectId}/datasets`">{{data.resultProject}}</a>
                    <sly-icon slot="icon" :options="{ imageUrl: `${data.resultProjectPreviewUrl}` }"/>
                </sly-field>
                <el-progress v-if="data.started === true && data.progress !== 100"
                             :percentage="data.progress"></el-progress>
                <el-button type="primary" @click="command('create_trainset')" v-if="data.started === false">
                    <i class="zmdi zmdi-play" style="margin-right: 5px"></i> Run
                </el-button>
            </sly-card>
        </el-col>
    </el-row>

    <el-row :gutter="10" type="flex">
        <el-col :span="8">
            <sly-card title="Settings" subtitle="basic settings" style="margin-top: 10px">
                <sly-field title="Train / Val split" description="Choose the percent of images for training">
                    <el-slider v-model="state.trainPercent" :min="20" :max="100" show-input></el-slider>
                    <el-button type="text" @click="command('count_train_val_split')">
                        <i class="zmdi zmdi-refresh"></i> Refresh
                    </el-button>
                    <el-table :data="data.splitTable" :show-header="false">
                        <el-table-column prop="name" label="Name"></el-table-column>
                        <el-table-column prop="count" label="Count"></el-table-column>
                    </el-table>
                </sly-field>

                <div style="border-bottom: 1px solid #e3e6ec; margin: 10px 0"></div>
                <sly-field title="NN input size" description="Input model resolution (in pixels)">
                    <div class="fflex">
                        <div style="margin-right: 3px">W x H :</div>
                        <el-input-number v-model="state.inputWidth" style="width:60px" :min="64" :max="1024" size="small" :controls="false"></el-input-number>
                        <div style="margin: 0 3px">x</div>
                        <el-input-number v-model="state.inputHeight" style="width:60px" :min="64" :max="1024" size="small" :controls="false"></el-input-number>
                    </div>
                </sly-field>

                <div style="border-bottom: 1px solid #e3e6ec; margin: 10px 0"></div>
                <sly-field title="Destination class name" description="All objects will be mapped to a single class">
                    <el-input size="small" v-model="state.className"> </el-input>
                </sly-field>
                <sly-field title="Point class name " description="Define class name for positive/negative points">
                    <div class="fflex" style="flex-direction: column; align-items: flex-start;">
                        <div class="fflex">
                            <b style="flex: none; display: inline-block; border-radius: 50%; background: limegreen; width: 8px; height: 8px; margin-right: 3px"></b>
                            <div style="margin-right: 3px; width: 60px; flex: none;">Positive:</div>
                            <el-input size="small" style="flex: none;" v-model="state.posClassName"> </el-input>
                        </div>
                        <div class="fflex" style="margin-top: 10px">
                            <b style="flex: none; display: inline-block; border-radius: 50%; background: red; width: 8px; height: 8px; margin-right: 3px"></b>
                            <div style="margin-right: 3px; width: 60px; flex: none;">Negative:</div>
                            <el-input size="small" style="flex: none;" v-model="state.negClassName"> </el-input>
                        </div>
                    </div>
                </sly-field>
            </sly-card>

            <sly-card title="Augmentations" subtitle="Augmentation settings, you can keep default values"
                      style="margin-top: 10px">
                <sly-field title="Objects filter by area"
                           description="Filter objects with area less than defined.
                                        Object area is measured in percent of image">
                    <el-slider v-model="state.filterPercent" :min="0" :max="100" show-input></el-slider>
                </sly-field>
                <sly-field title="Objects crop"
                           description="Padding is randomly sampled from defined range.
                                        Padding is measured in percent of corresponding side
                                        (width of height of bounding box)">
                    <div class="fflex">
                        <el-slider v-model="state.paddingRange" range :min="2" :max="20" style="width: 70%"></el-slider>
                        <div style="margin-left: 4px">[{{state.paddingRange[0]}}%, {{state.paddingRange[1]}}%]</div>
                    </div>
                </sly-field>
                <sly-field title="Min points count (hints)" description="Min number of positive and negative points">
                    <el-input-number v-model="state.minPointsCount" size="small" :min="0" :max="20"></el-input-number>
                </sly-field>
            </sly-card>
        </el-col>
    </el-row>
</div>